@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@300;400;500;600&display=swap');

* {
    font-family: 'Poppins', sans-serif !important;
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 700;
    margin: 0 0 15px 0;
}

h1 {
    font-size: 46px;
}

h2 {
    font-size: 38px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 22px;
}

h6 {
    font-size: 20px;
}

p {
    font-family: 'Poppins', sans-serif !important;
    font-size: 18px;
    margin: 0 0 12px 0;
}



@media (max-width: 767px) {
  h1 { font-size: 32px; }
  h2 { font-size: 28px; }
  h3 { font-size: 24px; }
  h4 { font-size: 20px; }
  h5 { font-size: 18px; }
  h6 { font-size: 16px; }
  p { font-size: 15px; }
}

section {
    padding-block: 50px;
}

.search-container {

    border-radius: 6px;
    border: 1px solid #D7D7D7;
}

.search-container input {
    flex: 1;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background: #F4F4F4;
    font-size: 0.875rem;
    border: none;
    outline: none;
}

.search-container button {
    background: #F4F4F4;
    color: #000000;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0 6px 6px 0;
    font-size: 16px;
    transition: 0.2s ease;
}

.search-container button svg {
    width: 20px;
    height: 20px;
}

.search-container button:hover svg {
    color: #ffffff;
}

.search-container button:hover {
    background-color: #0a1eb8;
}

.hero-banner {
    padding: 0;
}

.section-header {
    text-align: center;
    margin-bottom: 30px;
}

.markdown ul{
    list-style-type: disc;
    padding-left: 1.5rem;
}

.markdown ul ul{
    list-style-type: circle;
}

.bordered {
    position: relative;
    display: inline-block;
}

.bordered::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -8px;
    width: 80px;
    height: 6px;
    background: #007bff;
    border-radius: 6px;
}

.topbar {
    background-color: #007bff;
    color: #ffffff;
    padding-block: 8px;
    text-align: center;
}

.logo {
    max-width: 250px
}


@media(max-width:768px) {

    .logo {
        max-width: 200px
    }

}

nav.site-menu {
    background: #ffffff !important;
    border-top: 1px solid #3c3c3c;
    border-bottom: 1px solid #3c3c3c;
}

nav.site-menu ul li a {
    color: #000000 !important;
}

nav.site-menu ul li a {
    position: relative;
    text-decoration: none;
    transition: color 0.2s ease;
}

nav.site-menu ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background: currentColor;
    transition: width 0.3s ease;
}

nav.site-menu ul li a:hover::after {
    width: 100%;
}

.marquee {
    animation: marquee 40s linear infinite;
    padding-left: 100%;
    transition: 0.2s all ease;
}

.marquee:hover {
    animation-play-state: paused;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}


.swiper-button-next,
.swiper-button-prev {
    color: #000B5C !important;
    width: 45px;
    height: 45px;
    background: #d9d9d9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    top: 50%;
    transform: translateY(-50%);
}

.swiper-button-next svg,
.swiper-button-prev svg {
    width: 22px !important;
    height: 22px !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    background: #f1f1f1;
}

.swiper-pagination {
    position: static !important;
    margin-top: 12px;
}

.swiper-pagination-bullet {
    position: static !important;
    width: 15px !important;
    height: 15px !important;
    opacity: 0.6;
}

.swiper-pagination-bullet {
    background: #D7D7D7 !important;
    border-color: #B7B7B7 !important;
    opacity: 1 !important;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #0a1eb8 !important;
    border-color: #0a1eb8 !important;
}


.hero-image{
    width: 100%;
}



.footer {
    background: #0b0f1a url("/images/isometric-squares.svg") center/cover no-repeat;   /* dark navy */
    color: #e5e7eb;   
    padding: 60px 0 40px 0;
}

.footer-container {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
}

/* Large tablets + small desktops (max 1024px) */
@media (max-width: 1024px) {
    .footer-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }
}

/* Tablets (max 768px) */
@media (max-width: 768px) {
    .footer-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
}

/* Mobile (max 480px) */
@media (max-width: 480px) {
    .footer-container {
        grid-template-columns: 1fr;
        gap: 25px;
    }
}


.footer-title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 25px;
}

.footer-col h4 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}

.footer-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}

footer .icon svg {
    color: #ffffff;
}

footer .social-links {
    display: flex;
    align-items: center;
    gap: 10px;
}

footer .social-links .social-link svg {
    width: 32px;
    height: 32px;
}

/* footer .social-links .social-link svg:hover {
    color: #0a1eb8
} */

.footer-text {
    font-size: 16px;
    line-height: 1.6;
    opacity: 0.9;
    margin-bottom: 15px;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links li {
    font-size: 17px;
    margin-bottom: 10px;
    opacity: 0.9;
    cursor: pointer;
    transition: 0.3s ease;
}

.footer-links li:hover {
    opacity: 1;
    color: #0a1eb8;
}

.footer-bottom {
    margin-top: 60px;
    text-align: center;
}

.footer-logo {
    max-width: 350px;
}

.bottom-footer {
    background: #070a12;
  color: #9ca3af;
}

.bottom-footer p {
    margin: 0;
    font-size: 16px;
}

.menu-icon {
    background-color: #E50000;
    border-radius: 50%;
    color: #ffffff;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
}

.menu-icon svg {
    width: 20px;
    height: 20px;
    color: #ffffff;
}

.btn-primary {
    background: #ffffff;
    border: 2px solid #0a1eb8;
    border-radius: 6px;
    padding: 10px 18px;
    transition: 0.2s all ease;
}

.btn-primary:hover {
    background: #0a1eb8;
    color: #ffffff;
}

.btn-secondary {
    background: #0a1eb8;
    border: 2px solid #0a1eb8;
    border-radius: 6px;
    padding: 10px 18px;
    transition: 0.2s all ease;
    box-shadow: unset;
}

.btn-secondary:hover {
    background: #3e77f1;
    border: 2px solid #3e77f1;
    color: #ffffff;
    box-shadow: unset;
}

@media(max-width:767px) {
    nav.site-menu {
        display: none;
    }
}


.product-card {
    background: #ffffff;
    border: 1px solid #000B5C;
    border-radius: 6px;
}

.product-information {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.product-image {
    aspect-ratio: 1/1;
    object-fit: contain;
    background-color: #F4F4F4;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.product-model {
    background: #0a1eb8;
    color: #ffffff;
    border-radius: 6px;
    padding: 5px 10px;
}

.product-title {
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-wrap: break-word;
}

.product-hero-banner {
    position: relative;
    width: 100%;
    min-height: 250px;
    background: url("/images/sales-banner.png") center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    box-sizing: border-box;
}

/* overlay */
.product-banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    z-index: 1;
}

/* text + button container */
.product-banner-content {
    position: relative;
    z-index: 2;
    color: white;
    max-width: 600px;
}


.static-banner {
  position: relative;
  width: 100%;
  height: 70px;
  background: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* Your overlay */
.static-banner {
  position: relative;
  width: 100%;
  height: 70px;
  background: #007bff;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.static-banner-content {
  position: relative;
  z-index: 2;
  text-align: center;
  max-width: 800px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.static-banner-content h1 {
  font-size: 36px;
  margin: 0;              /* REMOVE default margin */
  line-height: 1;         /* Important */
  color: #222;
}

.market-content {
    padding: 16px
}

.social-link {
    background: #ebebeb;
    border-radius: 50%;
    color: #000B5C;
    width: 36px;
    height: 36px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
}

.social-link:nth-child(1) {
    background: #1877F2;
    color: #ffffff;
}

.social-link:nth-child(2) {
    background: #000000;
    color: #ffffff;
}

.social-link:nth-child(3) {
    background: #0077B5;
    color: #ffffff;
}

.social-link:nth-child(4) {
    background: linear-gradient(90deg,
            #feda75 0%,
            #fa7e1e 25%,
            #d62976 50%,
            #962fbf 75%,
            #4f5bd5 100%);
    color: #ffffff;
}

.social-link:hover{
    color: #ffffff;
    transform: scale(1.1);
}


.social-link:nth-child(5) {
    background: #FF0000;
    color: #ffffff;
}

@media (min-width: 1200px) and (max-width: 1400px) {

    header .btn-primary {
        background: #fff;
        border: 1px solid #0a1eb8;
        border-radius: 6px;
        padding: 10px 14px;
        transition: all .2s;
        font-size: 12px;
    }

    header .text-sm {
        font-size: 12px;
    }

    header button.h-full {
        font-size: 12px;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 34px;
    }

    h3 {
        font-size: 28px;
    }

    h4 {
        font-size: 22px;
    }

    h5 {
        font-size: 20px;
    }

    h6 {
        font-size: 18px;
    }

    p {
        font-size: 14px;
    }

    li {
        font-size: 14px;
    }

    .footer-links li {
        font-size: 14px;
    }

    .footer-title {
        margin-bottom: 20px;
        font-size: 24px;
        font-weight: 700;
    }

    .footer-text {
        font-size: 14px;
    }

    .bottom-footer p {
        margin: 0;
        font-size: 14px;
    }
}




.swiper-pagination {
  position: relative;
  bottom: 8px !important;   /* reduce gap */
  left: 0;
  right: 0;
  text-align: center;
}

.swiper-pagination-bullets {
  margin-top:4px;
}



.installed-sites-section .card-grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);  
    gap: 20px;
}

.installed-sites-section .card{
    background: #d7e3ff;
    border: 1px solid #d7d7d7;
    border-radius: 6px;
    overflow: hidden;  
}


.installed-sites-section .card img{
    width: 100%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; 
    transition: transform 0.3s ease;
}

.installed-sites-section .card img:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.installed-sites-section .card h4{
    text-align: center;
    padding: 10px 0;
    margin-bottom: 0;
    font-weight: 600;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .installed-sites-section .card-grid{
        grid-template-columns: repeat(3, 1fr);  
        gap: 15px;
    }
}

@media (max-width: 767px) {
    .installed-sites-section .card-grid{
        grid-template-columns: repeat(2, 1fr);  
        gap: 10px;
    }

    .installed-sites-section .card h4{
        font-size: 16px;
    }
}   



.map-wrapper {
  position: relative;
  max-width: 1200px;
  margin: auto;
}

.world-map {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 6px;
}

/* Marker style */
.marker {
  position: absolute;
  background: red;
  color: white;
  font-size: 12px;
  font-weight: 600;
  padding: 4px 8px;
  border-radius: 2px;
  white-space: nowrap;
}

/* Country Positions (adjust once visually) */
.us {
  top: 38%;
  left: 18%;
}

.mexico {
  top: 48%;
  left: 18%;
}

.brazil {
  top: 68%;
  left: 32%;
}

.england {
  top: 28%;
  left: 48%;
}

.france {
  top: 35%;
  left: 47%;
}

.spain {
  top: 41%;
  left: 44%;
}

.saudi {
  top: 45%;
  left: 56%;
}

.uae {
  top: 50%;
  left: 62%;
}

.india {
  top: 48%;
  left: 68%;
}

.south-africa {
  top: 68%;
  left: 52%;
}

/* Mobile Optimization */
@media (max-width: 767px) {

  .marker {
  position: absolute;
  background: red;
  color: white;
  font-size: 7px;
  line-height: 7px;
  font-weight: 600;
  padding: 2px 6px;
  border-radius: 2px;
  white-space: nowrap;
}

.spain {
  top: 42%;
  left: 44%;
}

.saudi {
    top: 42%;
    left: 55%;
}

.uae {
  top: 50%;
  left: 58%;
}

.india {
  top: 50%;
  left: 66%;
}

}

@media (min-width: 768px) and (max-width: 1024px) {
      .marker {
  position: absolute;
  background: red;
  color: white;
  font-size: 8px;
  line-height: 8px;
  font-weight: 600;
  padding: 2px 6px;
  border-radius: 2px;
  white-space: nowrap;
}
}